body{
    display: flex;
    justify-content:space-evenly;
    align-items: center;

    gap: 24px;
}

.grid{
    display: flex;
   
    overflow: hidden;
    
    /*align-items: center;
    justify-content: center;
    */
    width: 960px;
    height: 960px;
    border: 1px solid black;
   
    flex-shrink: 0;
}

.column {
    flex: 1; /* <--- required (style column to fill the same space as the other columns) */   
}

.row {
    margin: 0px;
    background: white;
    
    border: 0.5px dotted red;

  
}

.row.hovered{
    background: black;
}