body{
    display: flex;
    justify-content: center;
    align-items: center;
}
.grid{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 960px;
    height: auto;
    border: 1px solid black;
}

.column {
    flex: 1; /* <--- required (style column to fill the same space as the other columns) */
    max-width: 60px;
    
}

.row {
    margin: 0px;
    background: white;
    text-align: center;
  
}

.row.hovered{
    background: black;
}